<pre class="mpire">
                       .-.
                      |_:_|
                     /(_Y_)\
                    ( \/M\/ )
 <span class="lightsaber">'.</span>               _.'-/'-'\-'._
   <span class="lightsaber">':</span>           _/.--'[[[[]'--.\_
     <span class="lightsaber">':</span>        /_'  : |::"| :  '.\
       <span class="lightsaber">':</span>     //   ./ |oUU| \.'  :\
         <span class="lightsaber">':</span>  _:'..' \_|___|_/ :   :|
           <span class="lightsaber">':.</span>  .'  |_[___]_|  :.':\
            [::\ |  :  | |  :   ; : \
             '-'   \/'.| |.' \  .;.' |
             |\_    \  '-'   :       |
             |  \    \ .:    :   |   |
             |   \    | '.   :    \  |
             /       \   :. .;       |
            /     |   |  :__/     :  \\
           |  |   |    \:   | \   |   ||
          /    \  : :  |:   /  |__|   /|
          |     : : :_/_|  /'._\  '--|_\
          /___.-/_|-'   \  \
                         '-'
</pre>